.popup__close {
    width: 50px;
    height: 50px;
    padding: 0;
    right: -40px;
    top: -45px;
    position: absolute;
    background: url("../../../images/close_btn.svg");
    background-size: contain;
    border: 0;
}

.popup__close:focus {
    outline: none;
}

.popup__close:hover {
    opacity: .6;
    transition: opacity .5s;
    cursor: url('../../../images/ pointer.svg'), pointer;
}

@media (max-width: 520px) {
    .popup__close {
        right: -30px;
    }
}
