.elements__delete {
    position: absolute;
    padding: 0;
    top: 18px;
    left: 249px;
    width: 18px;
    height: 18px;
    background-size: contain;
    background: url("../../../images/delete.svg");
    border: 0;
    display: block;
}

.elements__delete:hover {
    opacity: .6;
    transition: opacity .5s;
    cursor: url('../../../images/ pointer.svg'), pointer;
}
