.elements__like {
    width: 20.76px;
    height: 18.13px;
    align-self: center;
    justify-self: center;
    grid-area: like;
    background: url("../../../images/like.svg");
    border: 0;
}

.elements__like:focus, .elements__like:active {
    outline: none;
}

.elements__like:hover {
    opacity: .6;
    transition: opacity .5s;
    cursor: url('../../../images/ pointer.svg'), pointer;
}